.form-a {
  #sendmessage {
    color: #2eca6a;
    border: 1px solid #26a356;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  #sendmessage.show,
  #errormessage.show,
  .show {
    display: block;
  }
  .validation {
    color: red;
    display: none;
    margin: 4px 0 20px 0;
    font-weight: 400;
    font-size: 13px;
  }
  label {
    color: #000000;
    position: relative;
  }
  select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
  }
  .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;
    display: inline-block;
  }
  .form-control.form-control-a {
    height: 3.5rem;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
    border: 2px solid #2eca6a;
  }
}
.background {
  background: #11998e !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.flex {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  @media screen and (max-width: 415px) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .start {
    justify-self: flex-start;
  }
}

h6.hr {
  display: flex;
  align-items: center;
  padding: 0.3em;
}

h6.hr::before,
h6.hr::after {
  content: "";
  flex: 1;
  background-color: lightgray;
  height: 1px;
  width: 1px;
}
