.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

  .nav {
    width: 60vw;
    display: flex;
    justify-content: space-around;
  }
  .logo-container {
    padding: 20px;
    margin-right: auto;
    .logo {
      width: 100%;
    }
  }

  .options {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 20px;
      font-size: 1.1em;
      font-weight: 400;
      cursor: pointer;
      color: black;
    }
  }
}
