.header {
  width: 100%;
  display: flex;
  background-color: #21d192;
  .logo {
    font-size: 1.2em;
    align-self: center;
    padding-left: 20px;
    color: #333;
    font-weight: 400;
  }
  .options {
    margin-left: auto;
    display: flex;
  }
  .option {
    padding: 20px;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
  }
  .option :hover {
    color: #333;
  }
}
