$color: #21d192;
.header {
  width: 100%;
  display: flex;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  .logo {
    align-self: center;
    padding-left: 30px;
    .logoText {
      color: $color;
      font-weight: 400;
      font-size: 2.4rem;
      font-family: "ZCOOL KuaiLe", cursive;
    }
  }
  .options {
    margin-left: auto;
    display: flex;
    .signup {
      font-size: 1rem;
      padding: 20px;
      font-weight: 500;
      color: #eb782e;
      transition: all 400ms ease-out;
      &:hover {
        border: 1px solid orange;
        background: orange;
        color: #fff;
      }
    }
    .option {
      padding: 20px;
      font-size: 1em;
      font-weight: 400;
      cursor: pointer;
      color: #fff;
      &:hover {
        color: #eb782e;
      }
    }
  }
}
