body {
  position: relative;
}
* {
  box-sizing: border-box;
}
.relative {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}
.logo-a {
  color: #ddd !important;
}
.logo-b {
  color: #ddd !important;
  text-align: center !important;
}
